.text{
	-fx-font-size: 16;	
}

.viewport{
	-fx-background-color: transparent;
}

.table-view{
	-fx-background-color: transparent;
}

.cell{
	-fx-background-color: #FFFFFF;
}

.cell:odd{
	-fx-background-color: #EEEEEE;
}

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background-color: #EEEEEE;
}

#centreText{
  -fx-alignment: CENTER;
}

.label{
	-fx-text-fill: black;	
}

.combo-box .list-cell{
	-fx-background-color: white;
}

.combo-box .list-cell:selected{
	-fx-text-fill: black;
}

.combo-box .list-cell:hover{
 	-fx-background-color: #039ED3;
}