.text{
	-fx-font-size: 16;	
}

.viewport{
	-fx-background-color: transparent;
}

.table-view{
	-fx-background-color: transparent;
}

.cell{
	-fx-background-color: #FFFFFF;
}

.cell:odd{
	-fx-background-color: #EEEEEE;
}

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background-color: #EEEEEE;
}

#centreColumn{
	-fx-alignment: CENTER;
}

.label{
	-fx-text-fill: black;	
}

.combo-box .list-cell{
	-fx-background-color: white;
}

.combo-box .list-cell:selected{
	-fx-text-fill: black;
}

.combo-box .list-cell:hover{
 	-fx-background-color: #039ED3;
}

/* .scroll-bar{ */
/* 	-fx-background-color: #FFD39B; */
/* } */

/* .scroll-bar .thumb{ */
/* 	-fx-background-color: linear-gradient(#6B2706, #AB6746); */
/* } */

/* #rightC{  */
/*  	-fx-background-color: linear-gradient(#6B2706, #AB6746);  */
/*  } */
 
/* .menu-item .label{ */
/* 	-fx-background-color: linear-gradient(#6B2706, #AB6746); */
/* } */

/* .menu-item:focused{ */
/* 	-fx-background-color: #AB6746; */
/* } */

/* .menu-item:focused .label{ */
/* 	-fx-font-fill: RED; */
/* } */

/* .context-menu{ */
/* 	-fx-background-color: linear-gradient(#6B2706, #AB6746); */
/* } *//* .root{ */
/* 	-fx-background-color: #FFD39B; */
/* } */
 
/* .progress-bar .track{ */
/* 	-fx-background-color: linear-gradient(#6B2706, #AB6746); */
/* } */

/* .progress-bar .bar{ */
/* 	-fx-accent: #FFD39B; */
/* } */

/* .button{ */
/* 	-fx-border-color: #ED9121; */
/* 	-fx-border-width: 1; */
/* 	-fx-background-color: linear-gradient(#6B2706, #AB6746); */
/* 	-fx-text-fill: #FFD39B; */
/* } */

/* .button:hover{ */
/* 	-fx-background-color: linear-gradient(#AB6746, #CB8766); */
/* } */

/* .check-box{ */
/* 	-fx-focus-color: #FF7F24; */
/* 	-fx-mark-color: #6B2706; */
/* 	-fx-padding: 1,1,1,1; */
/* } */

/* .check-box .box{ */
/* 	-fx-background-color: linear-gradient(#AB6746, #CB8766); */
/* 	-fx-border-color: #ED9121; */
/* } */

/* .root{ */
/* 	-fx-background-color: #FFD39B; */
/* } */