.text{
	-fx-font-size: 15;	
}

.scroll-pane{
	-fx-background-color: transparent;
}

.scroll-bar{
	-fx-background-color: #FFD39B;
}

.scroll-bar .thumb{

	-fx-background-color: #8B4726;
}

.viewport{
	-fx-background-color: transparent;
}

.button{
	-fx-border-color: #ED9121;
	-fx-border-width: 1;
	-fx-background-color: linear-gradient(#6B2706, #AB6746);
	-fx-text-fill: #FFD39B;
}

.button:hover{
	-fx-background-color: linear-gradient(#AB6746, #CB8766);
}

.radio-button{
	-fx-focus-color: #FF7F24;
	-fx-mark-color: #8B4726;
}

#pane{
	-fx-background-color: #FFD39B;
}

#showText{
	-fx-font-size: 15;
	-fx-fill: BLACK;
}